<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="htmlhead">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Devgame"/>
    <meta name="author" content="Pascal Kania"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>

    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}">(title)</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div th:fragment="navbar" class="">
    <div>NAVI</div>
</div>

<div th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> by Pascal Kania
                <br/> <a th:href="@{https://twitter.com/pascalkania}"><i class="fa fa-twitter"></i>@pascalkania</a>
            </p>
        </div>
    </footer>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</div>
</body>
</html>